@font-face {
	font-family: "Computer Modern Serif";
	src: url("cmunrm.woff2") format("woff2"), url("cmunrm.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Computer Modern Serif";
	src: url("cmunbx.woff2") format("woff2"), url("cmunbx.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
