@import "~susy/sass/susy";
@import "~breakpoint-sass/stylesheets/breakpoint";

$large-screen-size: 1024px;
$medium-screen-size: 768px;
$small-screen-size: 640px;
$tiny-screen-size: 375px;

@mixin breakpoint-medium-screen {
  @include breakpoint($medium-screen-size) {
    @content;
  }
}

@mixin on-medium-screen-and-paper {
  @include breakpoint-medium-screen {
    @content;
  }

  @media print {
    @content;
  }
}

@mixin bulletpoints {
  margin: 0.5em 0;
  padding-left: 2em;
}

@mixin header {
  margin: 0.25em 0;
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
